server:
  port: 8080

spring:
  application:
    name: placementgo-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/placementgo
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

#will do this later right now only local testing okay bro
#  flyway:
#    enabled: true
#    baseline-on-migrate: true
